<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="beer">
      <h2 data-cy="beerDetailsHeading"><span>Beer</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ beer.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ beer.name }}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
          <span>{{ beer.country }}</span>
        </dd>
        <dt><span>Price</span></dt>
        <dd>
          <span>{{ beer.price }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ beer.description }}</span>
        </dd>
        <dt><span>Beer Category</span></dt>
        <dd>
          <div *ngIf="beer.beerCategory">
            <a [routerLink]="['/beer-category', beer.beerCategory?.id, 'view']">{{ beer.beerCategory?.id }}</a>
          </div>
        </dd>
        <dt><span>Manufactor</span></dt>
        <dd>
          <div *ngIf="beer.manufactor">
            <a [routerLink]="['/manufactor', beer.manufactor?.id, 'view']">{{ beer.manufactor?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/beer', beer.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
